@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Page</h1>
    <p class="lead">CRUD website where you can create, read, delete, update customters</p>
    <p>This website using .NET core MVC, Entity Framework, PostgreSQL</p>
</div>

